@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #656567;
    --color-1: #797370;
    --color-2: #8f8682;
    --color-3: #e2dcd9;
    --color-4: #b93d3d;
    --color-5: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    position: relative;
}

.tmp-body {
    position: fixed;
    overflow: hidden;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner-container {
    background-color: var(--background-color);
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

.banner-container img {
    margin-right: 10px;
}

.banner-container #banner {
    font-family: Recipekorea;
    display: block;
    font-size: 2em;
    padding-top: 0.3em;
    text-shadow: 1px 2px 2px rgb(41, 41, 41);
}

.banner-container #banner span {
    color: var(--color-4);
    font-size: 1.1em;
    text-shadow: 1px 2px 2px darkred;
}

.content-container {
    height: calc(100vh - 200px);
    padding: 20px;
}

.tab-container {
    height: 50px;
    font-family: HangeulNuri-Bold;
}

.tab-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.tab-item {
    background-color: var(--color-1);
    cursor: pointer;
    width: 50%;
    height: 45px;
    text-align: center;
    padding-top: 18px;
    font-size: 1.3em;
    color: #afa49e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: height 0.3s ease-out;
}

.tab-item.checked {
    background-color: var(--color-2);
    height: 50px;
    color: #ffede4;
}

.list-container {
    background-color: var(--color-2);
    height: calc(100vh - 200px - 50px);
    padding: 30px 30px;
}

.news-page {
    background-color: var(--color-3);
    box-shadow: 5px 5px 5px var(--background-color);
    height: 0;
    font-family: ELAND_Choice_M;
    display: none;
    overflow: scroll;
    transition: height 1s ease-out;
}

.news-page.show {
    display: block;
}

.news-list {
    padding: 30px;
    list-style: none;
}

.news-item {
    padding: 15px;
    border-bottom: 1px solid black;
}

.news-item a {
    color: black;
    text-decoration: none;
}

.news-item:first-child {
    padding-top: 0;
}

.news-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.news-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100%;
    padding: 20px;
    transition: left 1s ease-out;
}

.news-container.show {
    left: 0;
}

.news-header {
    position: relative;
    background-color: var(--color-2);
    width: 100%;
    height: 50px;
    display: flex;
}

.news-header .news-back {
    position: absolute;
    display: block;
    font-size: 40px;
    width: 50px;
    color: white;
    top: 5px;
    left: 10px;
}

.news-header h3 {
    font-family: Recipekorea;
    display: block;
    margin: auto;
    font-size: 1.5em;
    padding-top: 0.3em;
    text-shadow: 1px 2px 2px rgb(41, 41, 41);
}

.news-content {
    background-color: white;
    width: 100%;
    height: calc(100% - 50px);
}

#news-iframe {
    width: 100%;
    height: 100%;
}

.wiki-container {
    position: absolute;
    width: 60vw;
    height: 100vh;
    top: 0;
    left: 100%;
    padding: 20px;
    transition: left 1s ease-out;
    background-color: var(--color-5);
    opacity: 0.9;
}

.wiki-container.show {
    left: 40vw;
}

.wiki-toggle {
    position: absolute;
    right: 100%;
}

.wiki-toggle .wiki-icon {
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-5);
    opacity: 0.9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wiki-content h3 {
}

.wiki-content .wiki-input {
    background-color: var(--color-1);
    height: 40px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
}
